<div class="container">
	<footer class="footer">
		<small>
			This is the best app in the world. Copyright &copy;
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>